
{{#if answerForm}}
  <div class="new-question-form">
    <div class="form-group">
      <label for="author">Author:</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="title">Answer Summary:</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="answerText">Full Answer:</label>
      {{input value=answerText id="answerText"}}
    </div>

    <button {{action 'createAnswer'}}>Answer Now</button>
  </div>
{{else}}
  <button class="answer-btn btn" {{action 'answerForm'}}>Answer Jaden</button>
{{/if}}
