<h2 class="question-title">{{question.title}}</h2>
<h5 class="question-author">{{question.author}}</h5>
<hr>

{{#if question.image}}
  <img src={{question.image}}>
{{/if}}

<p>
  {{question.question}}
</p>

{{update-question question=question update="update"}}
