{{#if updateQuestionForm}}
  <div class="update-question-form">
    <div class="form-group">
      <label for="author">Author:</label>
      {{input value=author id="author" placeholder=question.author}}
    </div>

    <div class="form-group">
      <label for="title">Question Summary:</label>
      {{input value=title id="title" placeholder=question.title}}
    </div>

    <div class="form-group">
      <label for="questionText">Full Question:</label>
      {{input value=questionText id="questionText" placeholder=question.questionText}}
    </div>

    <button class="btn" {{action 'updateQuestion' question}}>Save Changes</button>
  </div>
{{else}}
  <button class="update-btn btn" {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
