{{#if updateQuestionForm}}
  <div class="update-question-form">
    <div class="form-group">
      <label for="author">Author:</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="title">Question Summary:</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="question">Full Question:</label>
      {{input value=question id="question"}}
    </div>

    <button {{action 'updateQuestion'}}>Save Changes</button>
  </div>
{{else}}
  <button class="update-btn btn" {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
